.hideFormExplainError {
  :global .ant-form-item-explain-error {
    display: none;
  }
}

.table {
  padding-top: 16px !important;

  td {
    padding: 0 4px !important;
  }

  :global .ant-pagination {
    margin-top: 8px !important;
    margin-bottom: -8px !important;
  }
}