.notEdit {
  :global .ant-btn-text {
    &:hover {
      background: var(--ant-button-default-hover-color) !important;
      color: var(--ant-button-primary-color) !important;
    }
  }

  :global {
    .ant-input-disabled, .ant-select-disabled {
      color: var(--ant-color-text);

      .ant-select-arrow {
        display: none;
      }

      .ant-select-selector {
        color: var(--ant-color-text) !important;
      }
    }
  }
}