$gap: 4px;

.content {
  overflow: hidden;

  td {
    padding: 4px 4px !important;
  }

  :global .ant-pagination {
    margin-top: 8px !important;
    margin-bottom: -8px !important;
  }

  :global .ant-pro-query-filter {
    padding: 12px 16px;
  }

  :global .ant-pro-table-search {
    margin-block-end: 0;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    .ant-pro-query-filter-actions {
      .ant-form-item-label {
        display: none;
      }
    }
  }
}

.row {
  display: flex;
}

.flexible {
  flex: 1; /* 自适应 */
}

.TreeTable {
  :global .ant-radio-wrapper {
    display: none;
  }

  .rowClassName {
    cursor: pointer;
  }

  :global {
    .ant-pagination-item {
      display: none;
    }
  }
}

.hide {
  display: none;
}

.LocationTree {
  border-left: 1px solid var(--ant-color-border);
  background: var(--ant-color-bg-base);
  padding: 12px 16px;

  .title {
    padding-bottom: 12px;
  }

  .body {
    display: flex;
    flex-direction: column;
    row-gap: $gap;
    overflow: auto;
    height: calc(100vh - 120px);
    padding: 0px 16px;
    margin: 0px -16px;

    :global .ant-space {
      justify-content: center;
    }
  }
}

.detailsTree {
  border-left: 1px solid var(--ant-color-border);
  background: var(--ant-color-bg-base);
  padding: 12px 16px;

  .checkBox {
    margin-block-end: 12px;
  }

  :global .ant-tree-switcher {
    width: 14px;
  }

  :global .ant-tree-indent-unit {
    width: 14px;
  }

  span {
    color: var(--ant-color-text-base) !important;
  }
}

.PictureTable {
  border-left: 1px solid var(--ant-color-border);
  background: var(--ant-color-bg-base);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;

  .form {
    padding: 12px 16px;
    padding-bottom: 4px;
    row-gap: 12px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--ant-color-border);

    .item {
      display: flex;
      flex-direction: column;
      row-gap: $gap;
      justify-content: flex-start;
      min-width: 70px;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start; // 内容顺序排列 不平分高度
    }

    .gap {
      row-gap: $gap;
    }

    .border {
      span:not(:last-child) {
        border-color: rgba(0, 0, 0, 0.25);
        border-right-width: .5px;
        border-right-style: solid;
      }

      //span:not(:first-child) {
      //  border-color: red;
      //  border-left-width: .5px;
      //  border-left-style: solid;
      //}
    }
  }
}

.label {
  display: flex;
  align-content: center;
  line-height: 16px;

  .color {
    width: 16px;
    height: 16px;
    background: #FFD800;
    border-radius: 2px;
  }
}

.PictureList {
  position: relative;
  overflow: hidden;

  .body {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
    align-content: flex-start;
  }

  .selected {
    border: 2px dashed #37f602 !important;
    box-sizing: border-box;
  }

  .SinglePicture {
    width: 150px;
    height: 230px;
    border: .5px solid var(--ant-color-border);
    flex-grow: 1;
    text-align: center;

    .title {
      border-bottom: 1px solid var(--ant-color-border);
      background: #F0F2F5;
      min-height: 20px;
    }

    img {
      object-fit: contain !important;
    }
  }


  .full {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--ant-color-bg-base);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .fullImage {
      height: 100%;

      span {
        width: 100% !important;
        height: calc(100% - 50px) !important;

        img {
          height: 100% !important;
          object-fit: contain;
        }
      }
    }
  }
}

.fullImageHeader {
  position: fixed;
  top: 0px;
  background: #F0F2F5;
  width: 100%;
  left: 0px;
  text-align: left;
  z-index: 1;
  padding: 4px 16px;

  span {
    padding: $gap 0px;
    color: var(--ant-color-base);
  }

  span:not(:last-child) {
    border-bottom: 1px solid var(--ant-color-border);
  }
}

$ok: #50C818;
$ng: #F03030;
.ok {
  color: $ok;

  td, span {
    color: $ok;
  }
}

.ng {
  color: $ng;

  td, span {
    color: $ng;
  }
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}