.report {
  td {
    padding: 4px 4px !important;
  }

  :global .ant-pro-table-list-toolbar-container {
    padding: 8px 0px !important;
  }

  :global .ant-pagination {
    margin-top: 8px !important;
    margin-bottom: -8px !important;
  }

  :global .ant-pro-table-list-toolbar-container-mobile {
    flex-direction: row !important;
  }

  :global .ant-pro-table-list-toolbar-left {
    max-width: calc(100% - 150px) !important;
  }
}


.loadingModal {
  :global {
    .ant-modal-content {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    .ant-modal-confirm-btns {
      display: none !important;
    }
  }
}

.singleReportTable {
  :global {
    @media (max-width: 1440px) {
      .ant-pagination-item {
        display: none;
      }
    }
  }
}

.tabs {
  padding: 0px;
  :global {
    .ant-tabs-content-holder {
      padding: 0px !important;
    }
  }
}